<div class="TN-management container-fluid">
  <div class="row mb-3">
    <div class="col">
      <h2>Overview</h2>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <h4>Management</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-12 mb-4">
      <div class="dashboard-contents p-4 rounded-4 text-white"
        style="background-color: var(--secondary-color); height: 100%;">
        <h2 class="fs-5 mb-3">Elevate Your Expertise Through Our Online Courses.</h2>
        <p class="fs-6 mb-3">
          Online courses and digital training to help you learn new skills or help you grow your career.
        </p>
        <button class="btn btn-light text-#8347ad px-3 py-1 rounded-pill">Let's Start</button>
      </div>
    </div>

    <div class="col-lg-6 col-12">
      <div class="row g-3">
        <div class="col-sm-6">
          <div class="countDetails p-3 rounded-3 bg-white shadow-sm h-100">
            <h4 class="text-#8347ad fw-bold">Total Count</h4>
            <p class="text-dark">9000</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="countDetails p-3 rounded-3 bg-white shadow-sm h-100">
            <h4 class="text-#8347ad fw-bold">Impact Trainees</h4>
            <p class="text-dark">4580</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="countDetails p-3 rounded-3 bg-white shadow-sm h-100">
            <h4 class="text-#8347ad fw-bold">Internship</h4>
            <p class="text-dark">680</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="countDetails p-3 rounded-3 bg-white shadow-sm h-100">
            <h4 class="text-#8347ad fw-bold">COE</h4>
            <p class="text-dark">587</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 container">
      <div class="col-12">
        <div class="bg-white p-4 rounded-4 shadow-sm">
          <h4 class="mb-3" style="color: var(--secondary-color);">Overview Chart</h4>

          <canvas baseChart [data]="barChartData" [type]="barChartType" [options]="barChartOptions">
          </canvas>

        </div>
      </div>
    </div>

  </div>
</div>